:root{

--text-left-1: 50px;

}


body {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #222;
  color: rgba(255, 255, 255, 0.856);
  margin-top: 0;

}
 /* NAVIGATION BAR */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #222;
  overflow: hidden;
  position: fixed;
  display: inline-block;
  right:0px;
}



/* Style the links inside the navigation bar */
.topnav a {
  display:inline-block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: currentcolor;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  z-index: 2;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  z-index: 1;
  background-color:#808080;
  color: white;
}

.caption{
  font-style: italic;
  font-size: 10;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}

.title{
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  padding: 10px;
}

#map {
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
     z-index: -1;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content h4 {
  font-weight: 300;
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: black;
}

.mapboxgl-popup-content h2 {
  font-weight: 500;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  color: black;
  border-width: 0px 0px 0.5px 0px;
  border-style: solid;
  border-color: rgb(80, 80, 80);
}

.mapboxgl-popup-content p {
  font-weight: 300;
  margin-top: 0.3em;
  margin-bottom: 0em;
  color: black;
}

.about {
 padding-top: 20px;
 font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
 padding-left: 32.5%;
width: 35%;
 text-align: left;
}

.about b {
  color: #ffb300;
 }

 .about p{
   font-size: 1.3em;
 }
